{% extends "public/base.html" %}
{% block title %}Current Classes at CRC{% endblock %}

{% block content %}
<div class="container">
    {% for crcclass in crcclasses %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ crcclass.author }}</a>
            <small class="text-muted">{{ crcclass.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'public-crcclass-detail' crcclass.id %}">{{ crcclass.title }}</a></h2>
          {% if crcclass.summary %}
            <p class="article-content">{{ crcclass.summary }}</p>
          {% else %}
            <p class="article-content">{{ crcclass.description }}</p>
          {% endif %}
          <p class="article-content"><b>Date/Time:</b> {{ crcclass.times }}</p>
        </div>
      </article>
    {% endfor %}
</div>
{% endblock %}