{% extends "public/base.html" %}
{% block title %}Current Classes at CRC{% endblock %}

{% block content %}
<div class="container">
    {% for class in classes %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ class.author }}</a>
            <small class="text-muted">{{ class.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'public-class-detail' class.id %}">{{ class.title }}</a></h2>
          <p class="article-content">{{ class.description }}</p>
        </div>
      </article>
    {% endfor %}
</div>
{% endblock %}