{% extends "private/base.html" %}
{% block title %}Upcoming Events{% endblock %}

{% block content %}
<p>
  <li class="btn btn-success btn=sm mt-1 mb-1"><a class="nav-item nav-link" href="{% url 'event-create' %}">Add Event</a></li>
</p>

<div class="container">
    {% for event in events %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ event.author }}</a>
            <small class="text-muted">{{ event.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'event-detail' event.id %}">{{ event.title }}</a></h2>
          <p class="article-content">{{ event.description }}</p>
          <p class="article-content"><b>Date/Time:</b> {{ event.time }}</p>
        </div>
      </article>
    {% endfor %}
</div>
{% endblock %}