{% extends "private/base.html" %}
{% block title %}Home Page{% endblock %}

{% block content %}

<h3>What is MyHometown?</h3>
<p>
    MyHometown is West Valley, its residents, local churches, and businesses, creating welcoming neighborhoods where residents know and support each other. Our vision is a community where neighbors willingly invest their time, money, and effort because they want to stay.
</p>

<h3>What do we do?</h3>
<p>
We staff a Community Resource Center (CRC) at 3600 South Constitution Boulevard
West Valley City, UT 84119 where neighbors gather for free classes and lessons, service, and socializing. Check out the CRC page of this website for classes offered at the CRC.
</p>
<p>
    We sponsor neighborhood service projects where neighbors serve together to improve their neighborhoods. See the Projects page for projects you can join in on.
</p>
<p>
We sponsor community gatherings (parking lot festival, Rec Center pool party, talent night, and more) planned with local leaders. See the Events page for a slate of events.
</p>

<h3>Want to get involved?</h3>
<p>
Take a look at the Volunteers page to learn how you can be part of MyHometown.
</p>
<img src="/static/granger_map.png" width="800"></img>

{% endblock %}