{% extends "public/base.html" %}
{% block title %}Upcoming Projects{% endblock %}

{% block content %}
<div class="container">
    {% for project in projects %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="#">{{ project.author }}</a>
            <small class="text-muted">{{ project.date_posted|date:"F d, Y" }}</small>
          </div>
          <h2><a class="article-title" href="{% url 'public-project-detail' project.id %}">{{ project.title }}</a></h2>
          {% if crcclass.summary %}
            <p class="article-content">{{ project.summary }}</p>
          {% else %}
            <p class="article-content">{{ project.description }}</p>
          {% endif %}
          <p class="article-content"><b>Date/Time:</b>{{ project.date }} {{ project.time }}</p>
          {% if project.image %}
          <img src="{{ project.image.url }}" alt="{{ project.title }}" style="max-width: 800px; width: 100%; height: auto;">
          {% endif %}
        </div>
      </article>
    {% endfor %}
</div>
{% endblock %}