{% extends "public/base.html" %}
{% block title %}Event Detail{% endblock %}

{% block content %}
<div class="container">
  <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ event.author }}</a>
          <small class="text-muted">{{ event.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ event.title }}</h2>
        <p class="article-content">{{ event.description }}</p>
        <p class="article-content"><b>Date/Time:</b>{{ event.date }} {{ event.time }}</p>
      </div>
    </article>
</div>
{% endblock %}