{% extends "private/base.html" %}
{% block title %}Volunteer Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <h3 class="article-title">{{ profile.user.first_name }} {{ profile.user.last_name }}</h3>
            <p class="article-content"><img src="{{ profile.get_profile_picture_thumbnail }}" alt="Profile Photo"></p>
        </div>
          <p class="article-content">Username: {{ profile.user.username }}</p>
          <p class="article-content">Email: {{ profile.user.email }}</p>
          <p class="article-content">Is Missionary: {{ profile.is_missionary }}</p>
          <p class="article-content">Is Staff: {{ profile.user.is_staff }}</p>
          <p class="article-content">Department: {{ profile.department }}</p>
        </div>
        <div>
            <a class="btn btn-primary btn=sm mt-1 mb-1" href="{% url 'profile-update' profile.id %}">Update</a>
          </div>
      </article>
  </div>
{% endblock content %}