{% extends "private/base.html" %}
{% block title %}Update Profile{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <legend class="border-bottom mb-4">Update Profile</legend>
            <fieldset class="form-group">
                {{ user_form|crispy }}
            </fieldset>
            <fieldset class="form-group">
                {{ profile_form|crispy }}
            </fieldset>
            <br>
            <p>
                <div class="form-group">
                    <button class="btn, btn-outline-info" type="submit">Update</button>
                </div>
            </p>
        </form>
    </div>
{% endblock content %}