{% extends "private/base.html" %}
{% block title %}Create Project{% endblock %}

{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Project</legend>
                {{ form|crispy }}
            </fieldset>
            <p>
                <div class="form-group">
                    <button class="btn btn-success btn=sm mt-1 mb-1" type="submit">Post Project</button>
                </div>
            </p>
        </form>
    </div>
{% endblock content %}