{% extends "private/base.html" %}
{% block title %}CRC Class Detail{% endblock %}

{% block content %}
<div class="container">
  <article class="media content-section">
      <div class="media-body">
        <h2 class="article-title">{{ crcclass.title }}</h2>
        <p class="article-content">{{ crcclass.description }}</p>
        <p class="article-content"><b>Date/Time: </b>{{ crclass.times }}</p>
        {% if crcclass.url %}
          <a class="url" href="{{ crcclass.url }}">{{ crcclass.url }}</p>
        {% endif %}
        <img src="{% url 'crcclass-code' crcclass.id %}" alt="QR Code">
        {% if crcclass.image %}
        <img src="{{ crcclass.image.url }}" alt="{{ crcclass.title }}" style="max-width: 800px; width: 100%; height: auto;">
        {% endif %}
        <a class="btn btn-secondary btn=sm mt-1 mb-1" href="{% url 'crcclass-register' crcclass.id %}">Register someone for CRC Class</a>
        {% if crcclass.author == user or user.is_staff %}
          <div>
            <a class="btn btn-secondary btn=sm mt-1 mb-1" href="{% url 'crcclass-update' crcclass.id %}">Update</a>
            <a class="btn btn-danger btn=sm mt-1 mb-1" href="{% url 'crcclass-delete' crcclass.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
  </article>
  <div>
    <div class="container"> 
      <h2 class="text-center"><u>Registrations for this class</u></h2><br>             
      <table class="table table-striped"> 
        <thead> 
          <tr> 
            <th>Name</th> 
            <th>Phone</th> 
            <th>Email</th> 
            <th>Delete</th> 
          </tr> 
        </thead> 
        <tbody> 
        {% for registration in registrations %}
          <tr> 
            <td>{{ registration.name }}</td> 
            <td>{{ registration.phone }}</td> 
            <td>{{ registration.email }}</td> 
            <td><a class="btn btn-outline-secondary" href="{% url  'crcclass-delete' registration.id %}">Delete</a></td> 
          </tr> 
        {% endfor %} 
        </tbody> 
      </table> 
    </div> 
  </div>
</div>
{% endblock %}