{% extends "private/base.html" %}
{% block title %}CRC Class Detail{% endblock %}

{% block content %}
<div class="container">
  <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ crcclass.author }}</a>
          <small class="text-muted">{{ crcclass.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ crcclass.title }}</h2>
        <p class="article-content">{{ crcclass.description }}</p>
        <p class="article-content"><b>Date/Time:</b>{{ ccrclass.times }}</p>
        {% if crcclass.url %}
          <a class="url" href="{{ crcclass.url }}">{{ crcclass.url }}</p>
        {% endif %}
        {% if crcclass.author == user %}
          <div>
            <a class="btn btn-secondary btn=sm mt-1 mb-1" href="{% url 'crcclass-update' crcclass.id %}">Update</a>
            <a class="btn btn-danger btn=sm mt-1 mb-1" href="{% url 'crcclass-delete' crcclass.id %}">Delete</a>
          </div>
        {% endif %}
      </div>
    </article>
</div>
{% endblock %}